/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
*/

body {
  background-color: #3f3f3f;
  margin: 0px;
}

.App {
  height: 100vh;
}
